/*IMPORTAÇÃO DE FONTES VIA GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*ESTILIZAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}


body{
    background-color: #eee5e0;
    height: 100vh;
}


section, footer{
    padding: 54px 0;
}


h3{
    font-size: 30px;
    color: #EC6D63;
}


p{
    color: #2b7ba3;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}


.botao{
    background-color: #da595fb7;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}


.botao:hover{
    background-color: #EC6D63;
    transition: 0.1s;
}


/*ESTILIZAÇÃO DO HEADER*/
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


/*ESTILIZAÇÃO DO MENU*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}


nav ul{
    display: flex;
    align-items: center;
}


nav ul a{
    color: #6ca0ba;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
    font-weight: 600;
}


nav ul a:not(.botao)::after{
    content: "";
    background-color: #6ca0ba;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.5s;
    margin: 0 auto;
}


nav ul a:hover::after{
    width: 100%;
}


/*ESTILIZAÇÃO DA SECTION BANNER*/
.banner{
    display: flex;
    justify-content: center;
}


.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}


.banner .banner-text h1{
    font-size: 50px;
    color: #EC6D63;
}


.banner .banner-text p{
    font-size: 20px;
    color: #2b7ba3;
    font-weight: 500;
    margin: 18px 0;
}


/*ESTILIZAÇÃO DA PÁGINA SOBRE MIM*/
.sobremim .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sobremim .sobre-text{
    width: 50%;
    padding-right: 40px;
}


.sobremim .sobre-text p{
    margin: 18px 0;
    text-align: justify;
}


.sobremim .sobre-img{
    width: 50%;
}


.sobremim .sobre-img img{
    width: 90%;
}


/*ESTILIZAÇÃO DA PÁGINA FORMAÇÃO*/
.formacao .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.formacao .formacao-text{
    width: 50%;
    padding-right: 0px;
}


.formacao .formacao-text p{
    margin: 18px 0;
    text-align: justify;
}


.formacao .formacao-img{
    width: 50%;
}


.formacao .formacao-img img{
    width: 90%;
}


/*ESTILIZAÇÃO DA PÁGINA PORTFÓLIO*/
.portfolio h3{
    text-align: center;
}


.portfolio .cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: nowrap;
}


.portfolio .cards-item{
    background-color: #cd959673;
    width: 500px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
}


.portfolio .cards h1{
    text-align: center;
    color: #EC6D63;
}


.portfolio .cards p{
    text-align: center;
}


/*ESTILIZAÇÃO DA PÁGINA CONTATO*/
.form{
    width: 100%;
}


.form h3{
    text-align: center;
}


.form input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    border: 1px solid;
}


.form textarea{
    border: 1px solid;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    resize: none;
}


.form button{
    border: none;
}
